<div class="grid-container">
  <div class="info">info</div>
  <div class="symbol">
    <app-symbol></app-symbol>
  </div>

  <div class="depth">
    <div class="offer-depth-box">
      <app-offer-depth></app-offer-depth>
    </div>
    <div class="match-price-box">
      <app-match-price></app-match-price>
    </div>
    <div class="bid-depth-box">
      <app-bid-depth></app-bid-depth>
    </div>

  </div>
  <div class="chart">graph</div>
  <div class="order-form-main">
    <div class="buy-order_form">
      <exchange-buy-order></exchange-buy-order>
    </div>
    <div class="sell-order_form">
      <exchange-sell-order></exchange-sell-order>
    </div>
  </div>
  <div class="market-box"><app-mini-market></app-mini-market></div>
  <div class="trade-history-box"><app-trade-history></app-trade-history></div>
</div>