<div class="container" style="width:500px;">
  <div class="row" style="padding-top:150px;">

    <div class="panel with-nav-tabs panel-info">
      <div class="panel-heading">
        <ul class="nav nav-tabs panel-info">

          <li>
            <label>Register </label>
          </li>

        </ul>
      </div>

      <div class="panel-body">



        <div class="container-fluid">
          <div class="row">
            <!-- <h2 class="text-center" style="color: #f0ad4e;">
                  <Strong> Register </Strong>
                </h2>
                <hr />
              -->
            <!--
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon iga1">
                          <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter User Name" name="name">
                      </div>
                    </div>
                  </div>
                </div>
              -->

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon iga1">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                    <input type="email" ngModel name="email" #userEmail="ngModel" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{1,}[.]{1}[a-zA-Z]{2,}"
                      required class="form-control" placeholder="Email id">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon iga1">
                      <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" ngModel name="password" #userPassword="ngModel" password minlength="1" class="form-control" placeholder="Password">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon iga1">
                      <span class="glyphicon glyphicon-lock"></span>
                    </div>
                    <input type="password" ngModel name="confirm" #userConfirmPassword="ngModel" password minlength="1" class="form-control"
                      placeholder="Confirm Password">
                  </div>
                </div>
              </div>
            </div>



            <div class="row" style="text-align:center;">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group " style="float: center">
                  <div class="form-group center">
                    <button type="submit" class="btn btn-block btn-primary"> Register</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div *ngIf="userEmail.touched && userEmail.invalid" id="loginMessage" class="alert alert-danger">
    <strong>Invalid!</strong> Please enter a valid email id.
  </div>

  <div *ngIf="userPassword.invalid || userConfirmPassword.invalid || userConfirmPassword.value != userPassword.value" id="loginMessage"
    class="alert alert-danger">
    <strong>Invalid!</strong> Passwords do not match.
  </div>